main .home-main{
    background-color: #fff;
}


.home-header, .home-main, .home-footer {
    padding-left: 300px;
  }

@media only screen and (max-width : 992px) {
    .home-header, .home-main, .home-footer {
      padding-left: 0;
    }
}

.epam-logo {
    margin: 20px;
    height: 60px;
}
    