/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #CCCCCC;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.epam-header {
    background-color: #222222;
    color: #CCCCCC;
}

body {
    background-color: #76cdd8;
}

.home-side-nav h5 {
    padding: 5px 20px;
}


/** For Login Screen **/
a:hover {
    cursor: pointer;
}

.logo-text {
    margin-left: 20px;
}

.logo-text:hover {
    cursor: pointer;
}

/** For Footer **/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/** For AUTH Screen**/
.auth-card {
    margin: 50px 0;
}

.hide {
    display: none;
}


/** Detial Page **/
.home-detail {
    display: flex;
    min-height: calc(100vh - 64px - 70px);
    flex-direction: column;
}

@media only screen and (max-width : 600px) {
    .home-detail {
        min-height: calc(100vh - 56px - 70px);
    }
}

/*

    LG: 00c853
    DG: 1faa00

    **** Primary Colors ****
    epam blue: #76cdd8
    lime green: #CEDB56
    graphite: #222222
    white: #fff

    **** Secondary Colors ****
    red: D35D47
    bright blue: 008ACE
    sharp blue: 39C2D7
    dark blue: 263852
    light gray: CCCCCC
    dark gray: 464547

*/